/*****  Media Queries  *****/

@media all  {
  
  .backBlack {
    background-color: black; }

  .backGrey {
    background-color: #D0D7D9; }

  .backGreyBlue {
    background-color: rgb(235, 235, 245); }

  .backRed {
    background-color: red; }

  .backWhite {
    background-color: #fff; }

  .center {
    text-align: center; }

  .colWidth100 {
    width: 100%; }
  
  .colWidth95 {
    width: 95%; }

  .colWidth60 {
    width: 60%; }
  
  .colWidth55 {
    width: 55%; }

  .colWidth25 {
    width: 25%; }
  
  .colWidth20 {
    width: 20%; }

  .contentHidden {
    visibility: hidden; }

  .contentVisible {
    visibility: visible; }

  .hr {
    width: 75%;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
  }
    
  .mainNav {
    margin: 20px 0px; }

  .marginB {
    margin-bottom: 20px; }
  
  .marginBLG {
    margin-bottom: 75px; }

  .marginBSM {
    margin-bottom: 10px; }

  .marginLR {
    margin-left: 10px;
    margin-right: 10px; }

  .marginT {
    margin-top: 20px; }
  
  .marginTLG {
    margin-top: 30px; }
  
  .marginTSM {
    margin-top: 10px; }
  
  .moveDown {
    margin-top: 35px; }
  
  .moveDownSM {
    margin-top: 5px; }
  
  .moveLeft {
    margin-right: 7px; }
  
  .moveRight {
    margin-left: 20px; }
  
  .moveRightSM {
    margin-left: 10px; }
  
  .moveUp {
    margin-top: -35px; }
  
  .moveUpSM {
    margin-top: -5px; }
  
  .tabRight {
    margin-left: 25px; }
  
  .tabRightLG {
    margin-left: 50px; }
  
  .tabRightSM {
    margin-left: 10px; }
  
  .liststyling {
    list-style-type: square;
    margin-top: 2px; }

  .noMarginB {
    margin-bottom: 0px; }

  .noMarginT {
    margin-top: 0px; }

  .noMarginTB {
    margin-top: 0px;
    margin-bottom: 0px; }

  .noPadLR {
    padding-left: 0px;
    padding-right: 0px; }

  .noPadTB {
    padding-top: 0px;
    padding-bottom: 0px; }

  .padTBSM {
    padding-top: 5px;
    padding-bottom: 5px; }

  .padTBSMM {
    padding-top: 1px;
    padding-bottom: 1px; }

  .responsive-image {
    height: auto;
    width: 100%;
  }
  
  .responsive-image2 {
    height: auto;
    width: 70%;
  }

  .textAll {
    color: Black;
    font-weight: normal; }

  .textBlack {
    color: #000;
    font-weight: normal; }
  
  .textBlue {
    color: Blue;
    font-weight: normal; }
  
  .textRed {
    color: #DF0D0D;
    font-weight: normal; }

  .textWhite {
    color: white;
    font-weight: normal; }

}

@media(max-width:767px){
  /* smartphones, iPhone, portrait 480x320 phones */
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  /*       .visible-xs-*      */

  .colWidth {
    width: 50%; }

  .contentRender {
    visibility: hidden; }

  .indentMedia1 {
    margin-left: 15px; }

  .indentMedia2 {
    margin-left: 15px; }

  .mediaPlace {
    text-align: left; }

  .panelHeight {
    height: 320px; }

  .responsive-image {
    height: auto;
    width: 100%;
  }
  
  .responsive-image2 {
    height: auto;
    width: 20%;
  }

}

@media(min-width:768px){
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  /*     (less than 992px)    */
  /*       .visible-sm-*      */

  .colWidth {
    width: 50%; }

  .contentRender {
    visibility: hidden; }

  .indentMedia1 {
    margin-left: 15px; }

  .indentMedia2 {
    margin-left: 0px; }

  .mediaPlace {
    text-align: left; }
  
  .panelHeight {
    height: 335px; }

  .responsive-image {
    height: auto;
    width: 100%;
  }
  
  .responsive-image2 {
    height: auto;
    width: 100%;
  }

}

@media(min-width:992px){
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  /*    (less than 1200px)   */
  /*      .visible-md-*      */
  
  .colWidth {
    width: 70%; }

  .contentRender {
    visibility: hidden; }

  .indentMedia1 {
    margin-left: 15px; }

  .indentMedia2 {
    margin-left: 0px; }

  .mediaPlace {
    text-align: left; }

  .panelHeight {
    height: 375px; }

  .responsive-image {
    height: auto;
    width: 100%;
  }
  
  .responsive-image2 {
    height: auto;
    width: 80%;
  }

}

@media(min-width:1200px){
  /* big landscape tablets, laptops, and desktops */
  /* hi-res laptops and desktops */
  /*      .visible-lg-*      */

  .colWidth {
    width: 70%; }

  .contentRender {
    visibility: hidden; }

  .indentMedia1 {
    margin-left: 15px; }

  .indentMedia2 {
    margin-left: 0px; }

  .mediaPlace {
    text-align: left; }

  .panelHeight {
    height: 385px; }

  .responsive-image {
    height: auto;
    width: 100%;
  }
  
  .responsive-image2 {
    height: auto;
    width: 65%;
  }

}
