.mainnav {
  margin: 20px 0px; }

.nomarginTopBot {
  margin-top: 0px;
  margin-bottom: 0px; }

.nomarginTop {
  margin-top: 0px; }

.nomarginBot {
  margin-bottom: 0px; }

.nopad {
  padding-top: 0px;
  padding-bottom: 0px; }

.margintop {
  margin-top: 20px; }

.margintopmore {
  margin-top: 30px; }

.margintopsm {
  margin-top: 10px; }

.marginbelow {
  margin-bottom: 20px; }

.marginbelowsm {
  margin-bottom: 10px; }

.marginLandR {
  margin-left: 10px;
  margin-right: 10px; }

.moveup {
  margin-top: -35px; }

.moveupsm {
  margin-top: -5px; }

.movedown {
  margin-top: 35px; }

.movedownsm {
  margin-top: 5px; }

.moveright {
  margin-left: 20px; }

.moverightsm {
  margin-left: 10px; }

.moveleft {
  margin-right: 7px; }

.tabtorightTop {
  margin-left: 25px;
  margin-top: 30px; }

.tabtorightsm {
  margin-left: 10px;
  margin-top: 30px; }

.tabtoright {
  margin-left: 25px; }

.tabtorightlg {
  margin-left: 50px; }

.tabrightsm {
  margin-left: 15px; }

.hr {
  width: 75%;
  height: 2px;
  margin-left: auto;
  margin-right: auto; }

.backWhite {
  background-color: #fff; }

.backGreyBlue {
  background-color: #ebebf5; }

.backGrey {
  background-color: #D0D7D9; }

.backRed {
  background-color: red; }

.textBlue {
  color: Blue;
  font-weight: bold; }

.textRed {
  color: #DF0D0D;
  font-weight: bold; }

.textBlk {
  color: #000;
  font-weight: normal; }

.colWidth100 {
  width: 100%; }

.colWidth95 {
  width: 95%; }

.colWidth55 {
  width: 55%; }

.colWidth60 {
  width: 60%; }

.colWidth20 {
  width: 20%; }

.colWidth25 {
  width: 25%; }

.colWidth175p {
  width: 175px; }

.colWidth150p {
  width: 150px; }

.center {
  text-align: center; }

.liststyling {
  list-style-type: square;
  margin-top: 2px; }

.imgStyle {
  width: 125px;
  height: 100px; }

.setWidth {
  width: 85%; }

.responsive-image {
  height: auto;
  width: 100%; }

.responsive-image2 {
  height: auto;
  width: 70%; }

.border {
  border: 1px; }

#content {
  width: 90%;
  margin: 0 5%; }

.panelHeight {
  height: 250px; }
